<html>
<head>
<title>Monkey</title>
<style>
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-to {
    opacity: 0
}
</style>
</head>
<body>

<div id="app">
    <p>{{ message }}</p>
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
    <p>
        <transition name="fade">
            <span v-if="seen">Now you see me</span>
        </transition>
    </p>
    <input v-model="message">
    <button v-on:click="seen = !seen">Toggle</button>
    <button v-on:click="reverseMessage">Reverse</button>
    <ol>
        <todo-item message="This is a nifty todo item!"></todo-item>
        <my-component></my-component>
    </ol>
</div>

<script src="https://unpkg.com/vue"></script>

<script>
    // Globally registered component
    Vue.component('todo-item', {
        props: ['message'],
        template: '<li>{{message}}</li>'
    })

    // Component that will be registered locally (see components section below)
    var Child = {
        template: '<div>A custom child component!</div>'
    }

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Monkey!',
            seen: true,
            todos: [
                { text: 'Learn JavaScript' },
                { text: 'Learn Vue' },
                { text: 'Build something awesome' }
            ]
        },
        methods: {
            reverseMessage: function() {
                this.message = this.message.split('').reverse().join('')
            }
        },
        components: {
            'my-component': Child
        }
    })

    app.$watch('seen', function(newValue, oldValue) {
        console.log("seen changed, newValue=" + newValue + ", oldValue=" + oldValue)
    })
</script>
</body>
</html>
