
<div class="container is-fluid">
    <div class="box">
        <p class="title is-4">Authentication</p>
        <p>Message: {{ message }}</p>
    </div>

    <div class="box">
        <p class="title is-5">Query String Info</p>
        <p>Code: {{ code }}</p>
        <p>State: {{ state }}</p>
    </div>

    <div class="box">
        <p class="title is-5">Cookie Info</p>
        <p>Verification: {{ verificationCookie }}</p>
        <p>Destination: {{ destinationCookie }}</p>
    </div>
</div>

