
<nav class="navbar" role="navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            Serverless App POC
        </div>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item has-dropdown" v-bind:class="{'is-active': isActive}" v-on:click="accountClick">
                <a class="navbar-link">Account</a>

                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" v-on:click="signOut">Sign Out</a>
                    <hr class="navbar-divider">
                    <div class="navbar-item">Version 0.0.1</div>
                </div>
            </div>
        </div>
    </div>
</nav>

